html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template: repeat(1, minmax(5%,1fr)) repeat(1, minmax(20%, 3.5fr)) /repeat(1, minmax(5%,1fr)) repeat(1, minmax(20%,4fr));
    background-color: rgba(163, 163, 163, 0.3);
    width: 100%;
    height: 100%;
}

.sidebar{
    background-color: rgb(0, 174, 255);
    grid-area: 1 / 1 / -1 / 1;
    display: grid;
    grid-template: repeat(1, minmax(5%, 1fr)) repeat(2, minmax(10%, 4fr)) / 1fr;
    gap: 0%;

}

.dashboard {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template: 1fr / minmax(5%,1fr) minmax(30%, 3fr);
    color: white;
    padding: 2% 10% 2% 10%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.dashboard .squares {
    grid-area: 1 / 1 / 1 / 1;
    justify-self: center;
}


.dashboard .title {
    grid-area: 1 / 2 / 1 / -1;
}

.actionlist {
    height: 100%;
    display: grid;
    gap: 5%;
}

.actions1 {
    grid-area: 2 / 1 / 2 / 1;
    justify-self: left;
    margin: 3%;
}

.actionlist li, .actionlist2 li {
    height: 16.67%;
    padding-left: 3%;
    text-align: left;
    font-size: 1.5rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.actionlist li::marker, .actionlist2 li::marker {
    font-size: 3rem;
    margin-right: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionlist span {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 0;
    margin-left: 0;
}

.actions2 {
    grid-area: 3 / 1 / 3 / 1;
    justify-self: left;
    margin: 3%;
}

.actionlist2 {
    height: 70%;
    display: grid;
    align-items: end;
}


.actionitem1 {
    list-style-image: url(Images/home.svg);
}
.actionitem2 {
    list-style-image: url(Images/card-account-details.svg);
}
.actionitem3 {
    list-style-image: url(Images/message.svg);
}
.actionitem4 {
    list-style-image: url(Images/history.svg);
}
.actionitem5 {
    list-style-image: url(Images/clipboard-check.svg);
}
.actionitem6{
    list-style-image: url(Images/account-group.svg);
}
.actionitem7 {
    list-style-image: url(Images/cog.svg);
}
.actionitem8 {
    list-style-image: url(Images/face-agent.svg);
}
.actionitem9 {
    list-style-image: url(Images/book-lock.svg);
}


.header {
    background-color: white;
    grid-area: 1 / 2 / 1 / -1;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template: repeat(2, minmax(10%, 1fr))/repeat(1, minmax(10%, 1fr));
    padding: none;
    margin: 0;
}

.searchbarAndProfile {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template: 1fr / minmax(20%, 3fr) minmax(5%, 1fr);
    margin: 0;
    padding: 0;
    gap: 2%;
}

.searchbar {
    display: grid;
    grid-template: 1fr / minmax(2%,1fr) minmax(20%, 8fr);
    gap: 1%;
}

.searchbar button {
    grid-area: 1 / 1 / 1 / 1;
    border-radius: 50%;
    margin: 8%;
    background-image: url(Images/magnify.svg);
    border: none;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding: 20%;
    background-size: 25%;
    background-color: transparent;
}

.searchbar input {
    border-radius: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: rgba(163, 163, 163, 0.3);
    border: none;
}

.profile {
    display: grid;
    grid-template: 1fr / minmax(5%, 1fr) minmax(5%, 1fr) minmax(20%, 2fr);
    gap: 4%;
}

.bell {
    grid-area: 1 / 1 / 1 / 1;
    border: none;
    background-image: url(Images/bell-ring.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30%;
}

.icon {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 60%;
    height: 60%;
}

.name {
    color: black;
    grid-area: 1 / 3 / 1 / 3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.titleAndButtons {
    grid-area: 2 / 1 / 2 / 1;
    display: grid;
    grid-template: 1fr / minmax(15%, 1fr) minmax(15%, 1fr);
    gap: 15%;

}

.title {
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template: 1fr / minmax(10%, 1fr) minmax(25%, 3fr);
}

.circleprofile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleprofile img {
    width: 50%;
    height: 50%;
}

.introname {
    grid-area: 1 / 2 / 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 0;
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








.mainview {
    background-color: transparent;
    grid-area: 2 / 2 / -1 / -1;
}

